/* CrowdFund Theme */

/* Navigation Elements */

.navbar-inverse {
    background-color: #230818;
    border-color: #230818;
}

.navbar-inverse .navbar-brand {
    font-family: 'Euphoria Script', cursive;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

/* Optional Styling */

#crowdFundForm {
    margin-top: 50px;
}
#crowdFund legend {
	font-family: Georgia, Times, serif;  /* Use the font-family you want for the Field Set Header */
	padding: 20px 0 6px;
	margin-bottom: 12px;
}

#selectFund label {
	display: none;  /* Take this out if you want a label for Fund Selection dropdown */
}

/* Convert radio buttons into styled boxes */

#selectAmount input[type="checkbox"], #selectRecurrence input[type="radio"] {
    display: none;
    margin: 10px;
}

#selectAmount label {
    display: inline-block;
	border:5px solid EAEBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #EAEBDB;
    width: 33.3%;
    
}

#selectRecurrence label {
    display: inline-block;
	border:5px solid EAEBDB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #EAEBDB;
    width: 24.2%;
}


#selectAmount input:checked + label, #selectRecurrence input:checked + label {
    background-color: #597707;
    color: #FFF;
}

#selectAmount input:checked + label::before {
    content: "+ ";
    font-weight: 600
}

input:checked#giveOther  + label {
    background-color: #597707;
    color: #FFF;
    margin-bottom: 0px;
	padding-bottom: 30px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}


#subAmountOther {
    margin-left: 3px;
    padding: 15px;
    margin-top: -3px;
    background-color: #597707;
    border-radius: 5px 5px 5px 5px;
    background-clip: padding-box;
}

#selectOptions .input-group-addon.success {
    color: #FFFFFF;
    background-color: #597707;
    border: 5px solid EAEBDB;
}




/* Smartphones (portrait and landscape) */

@media only screen and (min-width : 320px) {
	#selectAmount label, #selectRecurrence label {
    width: 49.3%;
    }
    #selectOptions label {
        margin-top: 10px;
    }
}

/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {
	#selectAmount label {
    width: 32.8%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#selectAmount label, #selectRecurrence label {
    width: 16.3%;
	}
    #selectRecurrence label {
    width: 24.6%;
    }
}


